{
    "dev": {
        "app_function": "microgram.wsgi.app",
        "aws_region": "us-east-1",
        "profile_name": "default",
        "project_name": "microgram",
        "runtime": "python3.6",
        "s3_bucket": "microgram-zappa-dev-sample",
        "keep_warm": false
    }
}
